
    .date{
      width: 90px;
    }

    select{
      height: 26px;
    }



    #delbutton:hover{
      color: #187c0b;
    }

    #edit_icon:hover{
      color: white;
    }

    #copy_icon:hover{
      color: #41cdfc;
    }

    .weight_class{
      color: : green;
      width: 35px;
    }
    .top-bar {
      position: fixed;
      top: 0;
      width: 100%;
      background: #95918A;
      height: 40px;
      text-align: center;
      padding: 5px;
      font-size: 22;
      font-family: 'Orbitron', sans-serif;
      color: #FFB600;
      z-index: 1;

    }

    .loads_container {
      width: 84%;
      margin-top: 47px;
      margin-left: 10px;
    }


    .history_container {
      width: 83%;
      left: 0;
      right: 0;
      margin: auto;
      margin-top: 47px;
    }


    .load_block{
      display: flex;
      justify-content: space-between;
      border: solid 1px;
      margin: 5px;
      padding: 3px;
      border-radius: 2px;
      border-color: #999492;
    }

    .load_block:hover{
      background-color: #fcc780;
      transform: scale(1.01);
    }


    .history_block{
      display: flex;
      justify-content: space-between;
      border: solid 1px;
      margin: 5px;
      padding: 3px;
      border-radius: 2px;
      border-color: #999492;

    }

    .history_block:hover{
      background-color: #dbdbdd;
      transform: scale(1.01);
    }



    #load_maker{
      position: absolute;
      height: 100%;
      right: 0px;
      top: 40px;
      width: 250px;
      background: #E8E6E2;
      display: flex;
      justify-content: center;

    }

    .submit_button{
      width: 100%

    }

    .price{
      display: inline-block;
      width: 60px;
    }

    .weight{
      display:
      width: 30px;
    }
    .fromwhere{
      display: flex;
      justify-content: space-between;
      width: 370px;
    }

    .navi{
      position: fixed;
      align: auto;
      top: 0px;
      right: 0px;
      z-index: 2;
      font-family: sans-serif;
    }

    .loged_user {
      position: fixed;
      align: auto;
      top: 0px;
      left: 0px;
      z-index: 2;
      font-family: sans-serif;
    }

    .link{
      height: 40px;
      background: #8b8d8e;
      border: none;
      font-size: 15px;
      color: #FFB600;
      margin: -2px;
    }

    .todos_container {
        position: fixed;
        left: 0px;
        top: 39px;
        width: 30%;
        height: 100%;
        background-color: #e8ecf2;
      }



      .todos_maker {
      width: 100%;
      height: 230px;
      background: #dee0e2;
      border-width: 0px;
      border-style: outset;
      display: flex;
      justify-content: center;
    }

    .todo_list {
      top: 270px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      }


    .todo_block {
      width: auto;
      border: ;
      border-radius: 4%;
      text-align: center;
      margin: 10px;
      padding: 5px 10px 5px 10px;
      overflow-wrap: break-word;
      word-wrap: break-word;
      background-color: #ccf287;

    }

    .todo_block:hover{
      background-color: #fcc780;
      transform: scale(1.01);
    }


    .todo_title {
      width: 300px;
    }

    .todo_text {
      width: 300px;
    }

    .todo_button {
      text-align: center;
    }

    #todo_check_button:hover {
      color: #187c0b;
    }

    .my_loads_container {
        position: fixed;
        width: 69%;
        margin-top: 47px;
        right: 5px;
    }

    .my_loads_block {
      display: flex;
      justify-content: space-between;
      border: solid 1px;
      margin: 5px;
      padding: 3px;
      border-radius: 2px;
      border-color: #999492;
    }

    .my_loads_block:hover {
      background-color: #fcc780;
      transform: scale(1.01);
    }

    .login_center_block{
      position: absolute;
      top: 30%;
      left: 40%;
      padding: 15px;
      border: solid black 1px;
      background: #e8e8e8;
    }

    @media screen and (max-width: 1400px) {
      .loads_container {
        width: 80%;
      }
    }
