{% load static %}
<html>
  <head>
    <link rel='stylesheet' href= "{% static 'cargos/css/style.css' %}">
    <title>CargoDesk</title>
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
    @media screen and (max-width: 1400px) {
      .loads_container {
        width: 80%;
      }
    }
    </style>
  </head>

  <body>
    <div class='top-bar'>
      <span><strong>CargoDesk</strong></span>
    </div>
    <div class='navi'>
      <a href={% url 'history' %} role='button'><button class='link'>History</button></a>
    </div>

    <div id="load_maker">
    <form action="{% url 'editsave' current_pk %}" method="post">
    {% csrf_token %}
      <div><label for='{{creat_load.loading_place.label_tag}}'>Loading place:</label><br>{{ creat_load.loading_place }}</div>
      <div><label for='{{creat_load.unloading_place.label_tag}}'>Unloading place:</label><br>{{ creat_load.unloading_place }}</div>
      <div class='weightprice'><div><label for='{{creat_load.weight.label_tag}}'>Weight:</label><br>{{ creat_load.weight }}{{ creat_load.truck_type }}</div>
      <div><label for='{{creat_load.price.label_tag}}'>Price:</label><br>{{ creat_load.price }}{{ creat_load.currency }}</div></div><br><br>
      <div><label for='{{creat_load.load_date_from.label_tag}}'>Loading dates:</label><br>{{ creat_load.load_date_from }}{{ creat_load.load_date_to }}</div>
      <div><label for='{{creat_load.uload_date_from.label_tag}}'>Unloading dates:</label><br>{{ creat_load.unload_date_from }}{{ creat_load.unload_date_to }}</div>
      <div><label for='{{creat_load.info.label_tag}}'>Info:</label><br>{{ creat_load.info }}</div>
      <br><br><br>
    <input class="submit_button btn-success" type="submit" value="Add load">
    </form>
  </div>

  </body>

</html>
