{% load static %}
<html>
  <head>
    <link rel='stylesheet' href= "{% static 'cargos/css/style.css' %}">
    <title>CargoDesk</title>
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>

  <body>

    <div class='top-bar'>
      <span><strong>CargoDesk</strong></span>
    </div>
    <div class='navi'>
      <a href= {% url 'display' %} role='button'><button class='link'>Main</button></a>
      <a href={% url 'todo' %} role='button'><button class='link'>MyDesk</button></a>
      <a href={% url 'history' %} role='button'><button class='link'>History</button></a>
    </div>


<div class='todos_container'>
      <div class="todos_maker">
        <form action='{% url 'newtodo' %}' method="post">
        {% csrf_token %}
          <div><label for='{{ new_post.title.label_tag }}'>What To Do?</label><br>{{ new_post.title }}</div><br>
          <div><label for='{{ new_post.text.label_tag }}'>What more?</label><br>{{ new_post.text }}</div><br>
          <div class='todo_button'><input class="btn btn-success" type="submit" value="Add to list"></div>
        </form>
      </div>

<div class='todo_list'>
  {% if todos %}
      {% for todo in todos %}
      <div class="todo_block">
      <strong><div>{{todo.title}}</div></strong>
      <div>{{todo.text}}</div>
      <a href="delete_todo/{{ todo.pk }}"><span class="glyphicon glyphicon-ok" id="todo_check_button"></span></a>
    </div>
      {% endfor %}
    {% endif %}
  </div>
  </div>
  <div class="my_loads_container">
    {% for load in loads %}
    <div class="my_loads_block">
      <div class='fromwhere'>
      <div>{{load.loading_place}}</div>
      <div>{{load.unloading_place}}</div>
    </div>
      <div>{{load.weight}} t.</div>
      <div>{{load.price}} {{ load.currency}}</div>
      <div>{{ load.truck_type }}</div>
      <div>{{ load.load_date_from|date:"d.m - "  }}{{ load.load_date_to|date:" d.m"}} &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;&nbsp;
            {{ load.unload_date_from|date:"d.m -"  }}{{ load.unload_date_to|date:" d.m"}}</div>
      <div>{{load.info}}</div>
      <a href="delete_from_mydesk/{{ load.pk }}"><span id='delbutton' class="glyphicon glyphicon-ok"></span></a>
    </div>
    {% endfor %}
  </div>
</body>
</html>
