{% load static %}
<html>
  <head>
    <link rel='stylesheet' href= "{% static 'cargos/css/style.css' %}">
    <title>CargoDesk</title>
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style>
    .todo_block {
      width: 75%;

    }
    </style>

  </head>

  <body>

    <div class='top-bar'>
      <span><strong>CargoDesk</strong></span>
    </div>
    <div class='navi'>
      <a href= {% url 'display' %} role='button'><button class='link'>Main</button></a>
      <a href={% url 'todo' %} role='button'><button class='link'>MyDesk</button></a>
      <a href={% url 'history' %} role='button'><button class='link'>History</button></a>
    </div>


<div class='todos_container'>
      <div class="todos_maker">
        <form action='{% url 'newtodo' %}' method="post">
        {% csrf_token %}
          <div><label for='{{ new_post.title.label_tag }}'>What To Do?</label><br>{{ new_post.title }}</div><br>
          <div><label for='{{ new_post.text.label_tag }}'>What more?</label><br>{{ new_post.text }}</div><br>
          <div class='todo_button'><input class="btn btn-warning" type="submit" value="Add to list"></div>
        </form>
      </div>

<div class='todo_list'>
  {% if todos %}
      {% for todo in todos %}
      <div class="todo_block">
      <div><strong>{{todo.title}}<stong></div>
      <div>{{todo.text}}</div>
    </div>
      {% endfor %}
    {% endif %}
  </div>
  </div>
</div>
</body>
</html>
